.live-ul{
    list-style: none;
    font-style: normal;
    font-weight: 00;
    font-size: 3vw;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}
.live-li{
    width: 20rem;
    max-width: 50%;
    margin-right: 1rem;
    
}
