
/*ANA İŞLEM SEÇİM EKRANI STİLLERİ-----------*/

.choise-operator{
    display: none;
}
.main-label{
    text-align: end;
}
.main-label:hover{
    color:rgb(0, 255, 64);
    cursor: pointer;
    transition: all 0.2s;
}
.main-label::after{
    content: "✓";
    display: none;
}
.choise-operator:checked + label::after {
    display: inline;
    color:rgb(0, 255, 64);
    position: absolute;
    right:8vw;
}
.main-label::selection{
    background-color: transparent;
}




/*GAME MOLEKÜLÜNÜN İÇERİSİNDEKİ  CEVAP BUTTON STİLLERİ*/


.answer-input{
    opacity: 0;
}
.answer-label:hover{
    cursor: pointer;
    filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}