@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Handlee&display=swap');
body{
    background: #2D2D2D;
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.btn {
    width: 470px;
    position: relative;
    border: none;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    background: none;
    cursor: pointer;
    fill: white;
    color: white;
    transition: all 0.2s ;
}
span{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn:hover{
    color: rgb(47, 255, 6);
    fill: rgb(0, 252, 13);
}
.btn:active{
    color: rgb(6, 255, 222);
    fill: rgb(6, 255, 222);
}