.game-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Handlee';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
}
.question-container{
    padding: 1vw 3vh;
}
.answer-label{
    font-size: 5vw;
    user-select: none;
}
.live-container{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    max-width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.answer-buttons{
    position: relative;
    display: flex;
    height: 100%;
    margin: 5vw;
}
.answer-btn{
    cursor: pointer;
    display: flex;
    position: absolute;
    width: 15vw;
    height: 10vw;
    align-items: center;
    justify-content: center;
    background-image: url('/src/assets/svg/answer.svg') ;
    background-repeat: no-repeat;
    background-position: center;
}
.answer-btn:hover{
    filter: invert(60%) sepia(100%) saturate(2476%) hue-rotate(100deg) brightness(50%) contrast(20%);
}
.answer-A{
    top: 10%;
    left: 0%;
    transform: translate(0%, 10%);
}
.answer-B{
    top: 15%;
    left: 50%;
    transform: translate(0%, 50%);
}
.answer-C{
    top: 30%;
    left: 10%;
    transform: translate(0%, 100%);
}
.green{
    background-color: #00BF63;
    pointer-events: none;
}
.red{
    background-color: #FA0000;
    pointer-events: none;
}